@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    }


.button-sub {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    background-color: #82b3d3;
    text-decoration: none;
    text-transform: uppercase;
}


.button-search {
   font-family: inherit;
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   text-align: center;
   color: #ffffff;
   background-color: #756157;
   text-decoration: none;
   text-transform: uppercase;
}


.navigation-link-current {
    font-family: inherit;
    color: #000000;
    background-color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}


.navigation-link-about {
    font-family: inherit;
    color: #000000;
    background-color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
    }


.navigation-link-hotel {
   font-family: inherit;
    color: #000000;
    background-color: #ffffff;
    text-transform: capitalize;
    text-decoration: none;
}


.navigation-link-search {
    background: url(../images/header/search.svg);
    width: 100%;
    height: 20px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
}


.navigation-link {
    background: url(../images/header/favorites.svg);
    width: 100%;
    height: 64px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%
}


.navigation-link-1 {
    width: 160px;
    height: 36px;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #ffffff;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
    }


.main-pic-words {
    color: #000000;
    background-color: #ffffff;
    background: url("../images/index-background.png") no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.main-pic {
    background: url("../images/welcome.svg") no-repeat;
    width: 485px;
    height: 352px;
    top: 51px;
    left: 371px;
}


.foreword-title {
    font-size: 30px;
    line-height: 36px;
}


.foreword-item {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-transform: none;
}


.advantages {
    background-color: #82b3d3;
    color: #ffffff;
}


.advantages-title {
    font-size: 24px;
    line-height: 28px;
}


.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
}


.more-advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
    font-size: 24px;
    line-height: 28px;
}


.more-advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-transform: none;
}


.more-advantages-paragraph {
    background-color: rgba(131, 179, 211, 0.2);
    font-size: 24px;
    line-height: 28px;
}


.last-advantages {
    background-color: rgba(130, 179, 211, 1);
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
}


.last-advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
}


.addition-title {
    font-size: 30px;
    line-height: 36px;
}


.addition-item {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-transform: none;
}


.recommendation-item {
    background-color: rgba(131, 179, 211, 0.12);
    font-size: 24px;
    line-height: 28px;
}


.recommendation-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}


.recommendation-paragraph {
  background-color: #ffffff;
    font-size: 24px;
    line-height: 28px;
}


.motel {
    background: url(../images/advantage/advantage-icon.svg);
    width: 100%;
    height: 72px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
}


.food {
    background: url(../images/advantage/advantage-icon-food.svg);
      width: 100%;
      height: 72px;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-position: 50% 50%;
}


.souvenirs {
    background: url(../images/advantage/advantage-icon-present.svg);
      width: 100%;
      height: 72px;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-position: 50% 50%;
}

.offer-title {
    font-size: 30px;
    line-height: 36px;
}


.offer-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-transform: none;
}


.sub-image {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.sub-title {
    font-size: 30px;
    line-height: 36px;
}


.sub-item {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: none;
}


.vk {
    background: url(../images/footer/social-vk.svg);
    width: 100%;
    height: 14px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
}


.tg {
    background: url(../images/footer/social-telegram.svg);
    width: 100%;
    height: 14px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
}


.yt {
    background: url(../images/footer/social-youtube.svg);
    width: 100%;
    height: 14px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
}


.html.academy {
    background: url(../images/footer/logo-htmlacademy.svg);
    width: 100%;
    height: 14px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
}


.inner-header {
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/filtr.jpg");
    background-size: cover;
    width: 1200px;
    /* height: 412px; */
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: none;
}


.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    text-transform: uppercase;
}


.breadcrumbs-link{
    font-size: 16px;
    line-height: 21px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  padding: 2em 4em;
}

.catalog-filter .control-buttons {
  display: flex;
  flex-direction: column;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


.filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}


.search {
    font-size: 30px;
    line-height: 36px;
}


.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}


.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: none;
    text-decoration: none;
}


.hotel-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}


.hotel-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}


.hotel-card-button-1 {
     background-color: #756157;
     font-size: 16px;
     line-height: 20px;
     color: #ffffff;
     text-decoration: none;
}


.hotel-card-button-2 {
    background-color: #82b3d3;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}


.hotel-card-button-3 {
     background-color: #f2f2f2;
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     color: #333333;
     width: 140px;
     height: 37px;
}


 .visually-hidden {
   position: fixed;
   transform: scale(0);
   color: inherit;
}
