@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: fit-content;
  text-decoration: none;
  user-select: none;
  padding: 8px 34px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: filter 0.2s ease, background-color 0.2s ease;
  text-transform: uppercase;
}

.btn-transparent {
  color: #ffffff;
  background-color: transparent;
  margin-top: 30px;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn-transparent:hover {
  background-color: #ffffff33;
}

.btn:active {
  filter: brightness(0.9);
}

.btn-brown {
  color: #ffffff;
  background-color: #756157;
}

.btn-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.btn-gray {
  color: #333333;
  background-color: #f2f2f2;
  font-weight: 400;
font-size: 16px;
line-height: 20px;
}

.btn-wide {
  width: 100%;
}

.callout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 70px 250px;
  gap: 25px;
}

.callout-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.callout-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-transform: none;
  margin: 0;
}

.callout-content {
  margin-top: 30px;
  display: flex;
}

.basic-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-item {
  padding: 0 16px;
}

.navigation-link.current {
  border-bottom: solid 2px #756257;
}

.logo {
  margin-right: 30px;
  width: 140px;
  height: 65px;
  position: relative;
}


.navigation-list-user {
   margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
}


.navigation-link {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 0;
}

.icon-40 {
  height: 40px;
  width: 40px;
}

.icon {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
}

.icon-search {
  background-image: url("../images/header/search.svg");
}

.icon-favorites {
  background-image: url("../images/header/heart.svg");
  position: relative;
}

.favorites-count {
  display: block;
  background-color: #7db54f;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  align-items: baseline;
}

.main-container {
  flex-grow: 1;
}

.hero {
  color: #ffffff;
  background: #82b3d3;
  background-image: url("../images/divider.svg"),
    url("../images/index-background.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  background-size: 100%, cover;
  padding: 50px 0 80px;
  text-align: center;
}

.hero-image {
  display: inline-block;
  top: 51px;
  left: 371px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
}

.advantages-item-flex {
  flex: 1;
}

.advantages-item-wide {
  width: 100%;
}

.advantages-card {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 100%;
  text-align: center;
  padding: 100px 85px;
}

.advantages-card-alt {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background-color: rgba(130, 179, 211, 1);
  color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 30px;
  text-transform: uppercase;
  color: #000000;
  order: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.advantages-title:not(.clean>.advantages-title):after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #00000030;
  display: inline-block;
}

.advantages-item-blue .advantages-title::after {
    background-color: #ffffff30;
}

.advantages-description {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantages-item-blue .advantages-title,
.advantages-item-blue .advantages-description {
  color: #ffffff;
}


.title::before {
  content: "";
  width: 100%;
  height: 76px;
  background-repeat: no-repeat;
  display: block;
  background-position: 50% 50%;
}

.motel .advantages-title::before {
  background-image: url("../images/advantage/advantage-icon.svg");
}

.food .advantages-title::before {
  background-image: url("../images/advantage/advantage-icon-food.svg");
}

.souvenirs .advantages-title::before {
  background-image: url("../images/advantage/advantage-icon-present.svg");
}

.offer-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-image {
  color: #ffffff;
  background-color: #a6d7f8;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
}


.subscribe .callout-description {
  color: #ffffff;
  max-width: 500px;
}


.subscribe-email-input {
  font-family: inherit;
  min-width: 450px;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  padding: 0 14px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inner-description {
   color:#000000;
}

.inner-callout {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-transform: none;
  margin: 0;
}

.inner-email-input {
   font-family: inherit;
  min-width: 450px;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  background-color: #f2f2f2;
  padding: 0 14px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-field {
  display: flex;
}

.page-footer .page-unit {
  margin-top: 40px;
  margin-bottom: 30px;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 70px 30px 70px;
}

.socials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.socials-icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.2s ease, background-color 0.2s ease;
}

.socials-icon:hover {
  filter: brightness(1.1);
}

.socials-icon:active {
  filter: brightness(0.9);
}

.icon-vk::before {
  mask-image: url("../images/socials/vk.svg");
}

.icon-tg::before {
  mask-image: url("../images/socials/tg.svg");
}

.icon-yt::before {
  mask-image: url("../images/socials/yt.svg");
}

.socials-icon::before {
  content: "";
  width: 24px;
  height: 18px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #82b3d3;
}

.page-footer-unit {
  font-family: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.developer-link {
  background: url("../images/htmlacademy.svg");
  width: 115px;
  height: 33px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: 50% 50%;
}



.inner-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #ffffff;
  background-color: #a6d7f8;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  padding: 35px 70px 70px;
  margin: 0;
}

.inner-title {
  flex-direction: column;
  margin-bottom: 40px;
}

.inner-header-title {
  display: flex;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  text-align: center;
  align-items: center;
}

.breadcrumbs-link  {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-home  {
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40px;
  height: 40px;
  display: flex;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 6px;
  height: 20px;
  margin-right: 10px;
}

.hotel-filter-inner {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 140px; */
  justify-content: space-between;
}

.hotel-filter-section {
display: flex;
column-gap: 70px;
}

fieldset {
 border: none;
}


.hotel-filter-group {
   flex-wrap: wrap;
}

.hotel-filter-list {
  flex-wrap: wrap;
}

.hotel-filter-title {
   margin-bottom: 30px;
   font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}


.hotel-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.hotel-filter-controls {
  /* display: block; */
}

.control-buttons {
  display: flex;
  flex-direction: column;
}

.button-reset {
  font-family: inherit;
}

.button-current {
  font-family: inherit;
}

.filter-title, .filter-title-placeholder {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.filter-title-placeholder {
  display: block;
}

.range-field {
  display: inline-block;
  background: #ffffff;
  padding: 12px 20px;
}

.range-field:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-field:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-field-input {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 700;
}

.range-field-input:focus-visible {
  outline: none;
}

.range-field-suffix {
  color: #00000055;
}



.catalog {
  margin: 50px 70px 40px;
}

.search {
  display: flex;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 45px;
}

.search-control {
  display: flex;
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  min-width: 290px;
  padding: 15px 130px 15px 20px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  border: none;
}


.view-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
}

.view-item {
  display: block;
  width: 16px;
  height: 16px;
  padding: 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-current {
  border-color: #000000;
}

.view-img-1 {
 background-image: url(../images/sorting-button/view-1.svg);
}

.view-img-2 {
 background-image: url(../images/sorting-button/view-2.svg);
}

.view-img-3 {
 background-image: url(../images/sorting-button/view-3.svg);
}

.hotel-catalog {
  display: grid;
  gap: 20px;
  grid-template-columns: 340px 340px 340px;
  margin-bottom: 40px;
}


.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #e5e5e5;
  padding: 20px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: none;
  text-decoration: none;
  margin: 0;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1/-1 ;
}


.hotel-card-image {
  text-decoration: none;
  grid-column: 1/-1;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.hotel-card-price {
  justify-self: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.card-button {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 18px;
  align-self: center;
  margin: 0;
}


.btn-green {
  background-color: #7db54f;
  color: #ffffff;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  padding: 12px 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  transition: filter 0.2s ease, background-color 0.2s ease
}

.pagination-link:hover {
 filter: brightness(1.1);
}

.pagination-link:active {
filter: brightness(0.9);
}

.pagination-current {
  font-family: inherit;
  background-color: #f2f2f2;
  color: #000000;
  text-decoration: none;
}

.pagination-next {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #000000;
  width: 60px;
  height: 60px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
